.product-list {
    padding: .5rem 1rem;
    margin: 10px auto;
    width: 70%;
}
.product-list ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
}
.product-list ul li {
    margin: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}