body {
  box-sizing: border-box;
  direction: rtl;
  text-align: center;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border: none;
  outline: none;
  border-radius: 5px;
  background: midnightblue;
  color: #fff;
  margin: 0.5rem 0;
  font-size: 18px;
  padding: 0.5rem 2rem;
}